<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <section class="text-center">
            <h5>Учетная запись создана, для использования сервиса войдите под своей учетной записью.</h5>
            <hr/>
            <a class="btn btn-orange" asp-controller="BankAccount" asp-action="GetAccounts">Начать использование</a>
        </section>
    </div>
</div>