@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/mainPage.css"/>

<div class="fixed-table-header text-center">
    <h3>Bank Lite или почему вы должны выбрать именно нас?</h3>
</div>

<div class="card-columns">

    <div class="card">
        <div class="card-header text-center">
            <h4>Подтверждённая надёжность</h4>
        </div>
        <div class="card-img-top mt-3">
            <img class="img-fluid" src="~/images/152878.svg">
        </div>
        <div class="card-body">

            <div class="card-text text-center">Имеет высокий уровень надежности кредитов и депозитов по рейтинговой шкале агентства «Стандарт-Рейтинг»</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h4>
                Надёжность
            </h4>
        </div>
        <div class="card-img-top mt-3">
            <img class="img-fluid" src="~/images/security.svg">
        </div>
        <div class="card-body text-center">
            <div class="card-text text-center">Bank Lite - самый надежный банк Украины в 2017 году по версии авторитетного международного издания Global Finance.</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h4>
                Гарантия вкладов
            </h4>
        </div>
        <div class="card-img-top mt-3">
            <img class="img-fluid" src="~/images/66163.svg">
        </div>
        <div class="card-body text-center">
            <div class="card-text text-center">Bank Lite - участник Фонда гарантирования вкладов физических лиц с 1999 года.</div>
        </div>
    </div>
</div>
<div class="fixed-table-header text-center">
    <h3>Услуги для комфорта вкладчиков</h3>
</div>
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text">
                            <h3>Депозиты в нашем банке</h3>
                            <p>Дистанционное открытие, закрытие и управления депозитами без посещения отделения в Bank Lite.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img class="my-img" src="~/images/fadd04e6.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text">
                            <h3>Доходный сейф</h3>
                            <p>100% надёжность нашего банка, обеспечена системой ежедневнного начисления средств на депозите</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="my-img" src="~/images/safe.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text">
                            <h3>Депозитний конструктор</h3>
                            <p>Только в нашем банке - выбирайте любой срок размещения средств на свой вкус: от 30 дней до года .</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img class="my-img" src="~/images/calendar.jpg">
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>